### 1.2 Ingresar y leer datos en SQLite

### Definimos la estructura y lanzamos el ```CREATE TABLE```

In [2]:
import sqlite3

In [2]:
conexion = sqlite3.connect("ejemplo.db")
cursos = conexion.cursor()

# Creamos una tabla llamada Estudiantes
cursos.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")
conexion.close()

### Realizamos un ```INSERT INTO```

In [3]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()
cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@googlemail.com', 'Artes', 'Sharon', 27)")
## Sin el commit no se guardará
conexion.commit()
conexion.close()

### Hacemos un SELECT * FROM para leer el contenido de una tabla

In [6]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
cursor.execute('SELECT * FROM estudiantes')
usuarios = cursor.fetchone()
print(usuarios)
conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)

### Se puede ingresar y leer varios registros al mismo tiempo.

In [5]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
usuarios = [
    ('parrillaesquisita@vip.com', 'Arquitectura', 'Giulia', 26),
    ('lollipopbusiness@vip.com', 'Contaduría', 'Rosana', 60),
    ('solfernandez@googlemail.com', 'Estadística', 'Sol', 30),
    ('carlitos@googlemail.com', 'Computación', 'Carlos', 60),
    ('imprentadetata@vip.com', 'Arquitectura', 'Luciano', 21),
]

### Execute Many para ejecutar el array de arriba como insert

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)
conexion.commit()
conexion.close()

### Aquí leemos todos los usuarios de la tabla

In [12]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()
cursor.execute("SELECT * from estudiantes ")
usuarios = cursor.fetchall()
for u in usuarios: 
    print(u)
conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)
('parrillaesquisita@vip.com', 'Arquitectura', 'Giulia', 26)
('lollipopbusiness@vip.com', 'Contaduría', 'Rosana', 60)
('solfernandez@googlemail.com', 'Estadística', 'Sol', 30)
('carlitos@googlemail.com', 'Computación', 'Carlos', 60)
('imprentadetata@vip.com', 'Arquitectura', 'Luciano', 21)